h1{

    font-family: 'Condiment', cursive;
    color: red;
   font-size: 1000%;
   text-align: center;
}

h2{

    font-family: 'Condiment', cursive;
    color: red;
    font-size: 400%;
}
h3{
    text-align: center;

}
body{
    background-color: yellow;
}
.create-form{

    justify-content: space-between;
    flex-direction: column;
    /* height: 100vh; */
    display: flex;
}

#burg{
    width:100%;
}
#outerContainer {
    display: flex;
    justify-content: space-evenly;


}




