#outerContainer {
    border: solid 2px black;
    display: flex;
    justify-content: space-evenly;


}

#containerLeft
{
    border: solid 2px black;
}


#containerRight
{
    border: solid 2px black;
}